/*css reset*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*key frames*/
/* Define the keyframes for the fade-in animation */
/* CSS file */
.slide-left {
  animation: slideFromLeft .5s ease-out forwards;
  position: relative; /* Make sure the div stays in place after the animation */
  left: -100%; /* Start the div outside the left edge of its container */
}

@keyframes slideFromLeft {
  0% {
    left: -30%; /* Starting position (outside the container) */
  }
  100% {
    left: 0; /* Ending position (inside the container) */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 1s ease-in-out; /* You can adjust the duration and timing function as needed */
}

/*---------*/
/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
    border: none;
    background: none;
    color: #8b8ba7;
  }
  /* styling of whole input container */
  .form {
    --timing: 0.3s;
    --width-of-input: 200px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: white;
    --border-color: #2f2ee9;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg,#fff);
  }
  /* styling of Input */
  .input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
  }
  /* styling of animated border */
  .form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
  }
  /* Hover on Input */
  .form:focus-within {
    border-radius: var(--after-border-radius);
  }
  
  input:focus {
    outline: none;
  }
  /* here is code of animated border */
  .form:focus-within:before {
    transform: scale(1);
  }
  /* styling of close button */
  /* == you can click the close button to remove text == */
  .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
  }
  /* close button shown when typing */
  input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  /* sizing svg icons */
  .form svg {
    width: 17px;
    margin-top: 3px;
  }

  /*===========================================================================================*/
  /*================loader css================*/
  .newtons-cradle {
    --uib-size: 100px;
    --uib-speed: 1.2s;
    --uib-color: #474554;
    position: absolute;
    top: 250px;
    left: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--uib-size);
    height: var(--uib-size);
   }
   
   .newtons-cradle__dot {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    transform-origin: center top;
   }
   
   .newtons-cradle__dot::after {
    content: '';
    display: block;
    width: 100%;
    height: 25%;
    border-radius: 50%;
    background-color: var(--uib-color);
   }
   
   .newtons-cradle__dot:first-child {
    animation: swing var(--uib-speed) linear infinite;
   }
   
   .newtons-cradle__dot:last-child {
    animation: swing2 var(--uib-speed) linear infinite;
   }
   
   @keyframes swing {
    0% {
     transform: rotate(0deg);
     animation-timing-function: ease-out;
    }
   
    25% {
     transform: rotate(70deg);
     animation-timing-function: ease-in;
    }
   
    50% {
     transform: rotate(0deg);
     animation-timing-function: linear;
    }
   }
   
   @keyframes swing2 {
    0% {
     transform: rotate(0deg);
     animation-timing-function: linear;
    }
   
    50% {
     transform: rotate(0deg);
     animation-timing-function: ease-out;
    }
   
    75% {
     transform: rotate(-70deg);
     animation-timing-function: ease-in;
    }
   }
   /*footer*/
   footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(13, 13, 75);
   }
   footer p{
    text-shadow:  0px 0px .5px navy;
   }
   footer .section{
    margin-bottom: 80px;
   }
   .media p{
    margin-left: 10px;
    font-size: 20px;
   }
   footer div div h2{
    margin-bottom: 5px;
   }
   footer .input {
    max-width: 190px;
    padding: 15px;
    font-size: 17px;
    color: black;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    border: 1px solid black;
    margin-right: -10px;
  }
  
  footer .button {
    border: none;
    background-color: #1363DF;
    text-decoration: none;
    padding: 17px;
    padding-bottom: 17px;
    font-size: 17px;
    color: #fff;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    cursor: pointer;
  }
  .footerdiv p{
    transition: .1s;
    margin-top: 2px;
  }
  .footerdiv p:hover{
    opacity: 50%;
    cursor: pointer;
  }
  /*===============================*/
  #checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }
  /*==========================================*/
  .filter1 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-top: 5px;
    transition: .2s;
    font-size: 17px;
  }
  .filter1 p:hover{
    opacity: 40%;
    cursor: pointer;
  }
  /*dropdown==========================*/
  .dropdown div p{
    font-weight: 700;
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .1s;
  }
  .dropdown div p:hover{
    opacity: 60%;
    cursor: pointer;
  }
  .dropdown div h2{
    font-size: 15px;
  }